<!-- Generated template for the LanguageCitySelectorComponent component -->
<div>

    <ion-title class="title">
        {{'language' | translate}}
    </ion-title>

    <!--Start language radio-->
    <ion-list radio-group [(ngModel)]="selectedLanguage">

        <!--Native languages-->
        <ion-item *ngFor="let city of cities">
            <ion-label>
                <img src="{{city.image}}" alt="" class="flag">
                {{city.viewLanguage}}
            </ion-label>

            <ion-radio value="{{city.language}}"> </ion-radio>
        </ion-item>


        <!--English-->
        <ion-item>
            <ion-label>
                <img src="assets/Pictures/Flags/united-kingdom.png" alt="" class="flag">
                English
            </ion-label>

            <ion-radio value="English" (ionSelect)="changeLanguage()">
                English
            </ion-radio>
        </ion-item>

    </ion-list>
    <!--end language radio-->

    <!--save and cancel button-->
    <ion-row>
        <ion-col>
            <button class="button" (click)="cancel()" id="cancelButton">
                {{'cancel' | translate }}
            </button>
        </ion-col>

        <ion-col>
            <button  class="button" id="saveButton" (click)="changeLanguageAndQuit()">
                {{'save' | translate }}
            </button>
        </ion-col>
    </ion-row>
    <!--end save and cancel button-->

</div>
