<!-- Generated template for the LanguageSelectorComponent component -->
<div>


    <ion-title class="title">
        Stad
    </ion-title>
    <!--Start of the city selector radio-->
    <ion-list radio-group="selectedCity" [(ngModel)]="selectedCity">

        <!--loop through the cities and show them in the radio with flag-->
        <ion-item *ngFor="let city of cities" >
            <ion-label>
                <img src="{{city.image}}">
                {{city.viewName}}
            </ion-label>

            <ion-radio value="{{city.name}}"></ion-radio>
        </ion-item>

    </ion-list>
    <!--End city radio-->

    <ion-title class="title">
        Language
    </ion-title>

    <!--Start language radio-->
    <ion-list radio-group [(ngModel)]="selectedLanguage" >

        <!--Native language-->
        <ion-item>
            <ion-label>
                <img src="{{cities[checkCity(selectedCity)].image}}" class="flag">
                {{cities[checkCity(selectedCity)].viewLanguage}}
            </ion-label>

            <ion-radio value="{{cities[checkCity(selectedCity)].language}}"> </ion-radio>
        </ion-item>


        <!--Display extra German language when Almelo is selected-->
        <ion-item *ngIf="cities[checkCity(selectedCity)].name == 'Almelo'">
            <ion-label>
                <img src="{{cities[1].image}}">
                {{cities[1].viewLanguage}}
            </ion-label>

            <ion-radio value="{{cities[1].language}}"></ion-radio>
        </ion-item>

        <!--English-->
        <ion-item>
            <ion-label>
                <img src="assets/Pictures/Flags/united-kingdom.png" class="flag">
                English
            </ion-label>

            <ion-radio value="English">
                English
            </ion-radio>
        </ion-item>

    </ion-list>
    <!--end language radio-->

    <!--save and cancel button-->
    <ion-row>
        <ion-col>
            <button class="button" (click)="cancelLanguage()" id="cancelButton">
                Cancel
            </button>
        </ion-col>

        <ion-col>
            <button  class="button" id="saveButton" (click)="saveLanguage()">
                Save
            </button>
        </ion-col>
    </ion-row>



</div>
