

.flag {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.search {
    background-color: transparent;
    font-size: 23px;
    margin: 5px;
}

#card {
    margin: 1px;
    padding: 1px;
}


.ion-nav-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}
