page-intro {

}

#Almelo {
    background-color: #3fa535;
}

#Nordhorn {
    background-color: #00a7e7;
}

#Zelow {
    background-color: #e71984;
}

#Valasske {
    background-color: #f18700;
}

.cityButton {
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: auto;
    width: 45%;
    padding: 12px 10px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
