page-detail {

}

ion-slides {
    height: auto;
}


#slides {
    position: relative;
}

#slides #button {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 50px;
}

.mapButton {
    background-color: green;
    
}

#map-page {
    background-color: #222;
}
