page-detail {

}

ion-slides {
    height: auto;
}


#slides {
    position: relative;
}

#slides #button {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 50px;
}


#audioButton {
    background-color: #222
}

#map-page {
    background-color: #222;
}

//div.swiper-pagination {
//    top: 87%;
//    bottom:inherit;
//
//
//}


