<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="{{dataManager.color}}">
    <ion-title>{{dataManager.getPropertyName(locationDetails)}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


    <ion-title>
        <h4>
        {{dataManager.getPropertyName(locationDetails)}}
        </h4>
    </ion-title>


    <!--pictures in slider-->
    <ion-slides pager zoom=true #slider id="slides-element">
        <ion-slide *ngFor="let pic of pictures" id="ion-slide">
            <img src="{{dataManager.getPicturePathByName(locationDetails, pic)}}" alt="" (error)=hideImage()>

        </ion-slide>
    </ion-slides>


<!--    TODO: implement native audioFiles-->
<!--    audioFiles player for recorded files-->
    <audio controls *ngIf="displayAudioFiles">
        <source (error)="this.displayAudioFiles = false" src="{{dataManager.getAudio(locationDetails)}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>


<!--    audioFiles player for TTS-->
    <button *ngIf="displayAudioTTS" id="audioButton" (click)="playAudioTTS()" class="cityButton" [ngStyle]="{ 'background-color': audioButtonColor}">
        <ion-icon name="play"></ion-icon>
        /
        <ion-icon name="pause"></ion-icon>
    </button>



    <!--innerHTML makes sure html tags inside the properties get displayed correctly-->
    <p [innerHTML]="dataManager.getPropertyDescription(locationDetails)"></p>
    
    <!--<img src="{{getStaticMap()}}">-->
    <!--TODO: fix static maps-->


    <button *ngIf="!openedFromMap" class="cityButton" id="map-page" (click)="openMapPage()">
        {{'open map' | translate}}
    </button>


</ion-content>
